.DS_Store
node_modules
build
/fe-auth/.svelte-kit
/package
.env
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

db.json
*-key.json
helth-service-key.json

#infra
*.pkg
.terraform.*
.terraform
terraform.tfstate*
*.auto.tfvars
*.tfvars

secrets*.json